<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>
    <div>유저 관리</div>
    <a href="/">홈</a>
    <a href="/admin">어드민 홈</a>
    <a href="/admin/users/save">유저 추가</a>
    <table class="table table-hover">
        <thead class="thead-strong">
        <tr>
            <th>유저 번호</th>
            <th>이름</th>
            <th>구분</th>
        </tr>
        </thead>
        <tbody id="tbody" th:each="user : ${userList}">
        <tr th:object="${user}">
            <td th:text="*{id}">유저번호</td>
            <td th:text="*{username}">이름</td>
            <td th:text="*{role}">구분</td>
        </tr>
        </tbody>
    </table>
    <th:block th:replace="layout/fragment :: script" />
</body>
</html>