<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/fragment :: head">
<body>
    <div>홈 화면</div>
    <div th:if="${user != null}">
        <span class="mb-3" th:text="|반갑습니다 : ${user.username} 님|">로그인 사용자 이름</span>
        <form th:action="@{/logout}" method="post">
            <button type="submit"> 로그아웃</button>
        </form>
        <a href="/admin">관리자 페이지</a>
    </div>
    <hr>
    <a href="/board">게시판</a>
    <a href="/login" th:if="${user == null}">로그인</a>
    <th:block th:replace="layout/fragment :: script" />
</body>
</html>